python-jose[cryptography]
passlib[bcrypt]
fastapi
fastapi-users
fastapi-users[sqlalchemy]
kubernetes
aiosqlite
requests_oauth2client
bump2version
wheel
watchdog
tox
coverage
Sphinx
twine
ruff
uvicorn
python-dotenv
pyJWT
email-validator
python-multipart